// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

/// Make a context based selector a little more friendly
/// @author Kitty Giraudel
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}

/// Make a fluid based typography
///
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}


/**
Shadows 

@mixin _4dp-penumbra {
  box-shadow: 0 4px 4px 0 rgba(160, 160, 160, 0.14),
    0 2px 5px 0 rgba(160, 160, 160, 0.12), 0 1px 10px 0 rgba(160, 160, 160, 0.1);
}

*/
