---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
import H1 from "../components/H1.astro";
import PrimaryCta from "../components/PrimaryCta.astro";
import SecondaryCta from "../components/SecondaryCta.astro";
---

<Layout title="Welcome to Ethereum 2077 collective">
  <Main>
    <section class="hero">
      <div class="events">
		<span>🤝 &nbsp;&nbsp;</span>
        <a href="">Upcoming community event</a>
		<span>&nbsp;&nbsp; 🎉</span>
      </div>
      <H1 text="Ethereum 2077 Collective" />
      <p class="hero_subheading">
        Explore Ethereum with the best community for web3. Interacting with
        crypto has never been so simple.
      </p>
      <div class="hero_cta">
        <PrimaryCta text="Join Community" />
        <SecondaryCta text="get started here" />
      </div>
    </section>
	
	<section class="column_list">
		<div>
			<div>
				<img src="/images/f.jpg" alt="">
			</div>

			<div>
				<img src="/images/f.jpg" alt="">
			</div>
		</div>
	</section>
  </Main>
</Layout>

<style lang="scss">
  .hero {
    text-align: center;

    .events {
      margin-block-end: 1.2rem;
	  display: inline-flex;
	  background-color: #F4F4F5;
	  padding: .4rem .8rem;
    }

    &_subheading {
      max-width: 32rem;
      margin: auto;
      font-size: var(--subheading);
      margin-block-end: 2.8rem;
    }

	&_cta {
		display: inline-grid;
		row-gap: 3.2rem;
		justify-content: center;
		column-gap: 1.2rem;
		padding: 2rem 1.2rem;
		border: 1px dotted rgb(196, 195, 195);
		border-radius: .8rem;
	}

	@media only screen and (min-width: 640px) and (-webkit-min-device-pixel-ratio: 1) {
		&_cta {
		display: inline-flex;
	}
    }
  }

  .column_list {
	margin-inline: var(--space-body);
  }

</style>
