---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
import H1 from "../components/H1.astro";
import PrimaryCta from "../components/PrimaryCta.astro";
import SecondaryCta from "../components/SecondaryCta.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
---

<Layout title="Communities around the world">
  <Main>
    <div class="hero">
      <H1 text="A decentralised future" />
      <p class="hero_subheading">
        Explore Ethereum with the best community for web3. Interacting with
        crypto has never been so simple.
      </p>
    </div>
  </Main>
</Layout>
